/**
* filkaan waxa ka hlynaa calss yo helpers ah oo naga cawinaya inaa meel kasta u isticmaali karno
*/

// Common Containers
.section {
  padding: 0 3.125rem;

  @media (max-width: 650px) {
    padding: 0 20px;
  }
}
.container {
  max-width: 82rem;
  margin: 0 auto;
}

// content conrainers
.section-content {
  padding: 0 100px;
  @media (max-width: 650px) {
    padding: 0 40px;
  }
}

.container-content {
  max-width: 1086px;
  margin: 0 auto;
}

// qari over flowga marku mobile menuga furanyahy
.overflow-hidden {
  overflow: hidden;
}

// menuga marku active yhay
.active {
  li {
    color: $secondary-orange !important;
  }

  &::after {
    content: "";
    bottom: -40%;
    left: 0%;
    width: 100% !important;
    height: 2px;
    position: absolute;
    @media (max-width: 950px) {
      bottom: 0%;
    }

    border-radius: 10px;
    transition: all 0.3s ease-in-out;
    background-color: $secondary-orange;
  }
}

// custome cursor

// cursro
.cursor {
  z-index: 999;
  position: fixed;
  background-color: $secondary-orange;
  width: 20px;
  height: 20px;
  border-radius: 50px;
  pointer-events: none;
  box-shadow: 0 0 20px $secondary-orange, 0 0 40px $secondary-orange,
    0 0 100px $secondary-orange;
  animation: colors 3s infinite;

  @media (max-width: 1180px) {
    display: none;
  }

  @keyframes colors {
    0% {
      filter: hue-rotate(0deg);
    }
    100% {
      filter: hue-rotate(360deg);
    }
  }

  &::before {
    content: "";
    position: absolute;
    background-color: $secondary-orange;
    width: 50px;
    height: 50px;
    opacity: 0.2;
    transform: translate(-30%, -30%);
    border-radius: 50px;
  }
}
