/* farta oo aan kaso import gareenay Google fonts */
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&family=Roboto:wght@300;400;500;700&display=swap");

// varaibleska farta noo haya
$header-font: "Raleway", sans-serif;
$body-font: "Roboto", sans-serif;

// variableska colorada noo haya

// primary colors
$primary-body: #2d3036;
$primary-dark: #19191b;
$primary-soft: #26282a;

// secondary colors
$secondary-yello: #f8ca1c;
$secondary-orange: #f9af20;
